.bannerSecInfo{
    border-top:3px solid #F2F3F4;
    border-bottom:3px solid #F2F3F4;
}
.addresSec h6{
    font-size:20px;
    font-weight:bold;
}
.addresSec p{
    font-size:18px;
    line-height:27px;
}
.googleMap-sec iframe{
    border:none;
    cursor: pointer;
}
.addresSec span{
    font-size:20px;
}
.footersec .poweredBy-img img{
    width:160px;
}